// COLORS
$darkBlue: #1C2A39;
$textBlue: #5C6A79;
$lavanda: #9E98DC;
$pink: #FF8FE6;
$skyBlue: #EFEEF6;
$velvet: #756AD3;
$greyText: #5C6A79;
$richVelvet: #4C3DB2;

// SHADOWS
$shadow: 0px 37px 4.31rem 0px rgb(0 0 0 / 25%);
$textHoverShadow: 0 0 1px $darkBlue;

// TRANSITIONS
$transition: all 0.3s;

// FONT SIZE
$O9: 0.9rem;
$i1: 1.1rem;